html,
body {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

body {
  background: #161618;
  color: #f2f5f4;
  font-family: "sans-serif", "Helvetica"; }

html, body, td, input {
  font-family: 'Roboto', sans-serif; }

#continue {
  display: block; }

.header {
  left: 0;
  padding: 20px;
  height: 80px;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  width: 100%;
  transition: background 300ms linear;
  z-index: 100; }
  .header.fixed {
    background-color: rgba(22, 22, 24, 0.8); }
    .header.fixed .download-buttons {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .header .logo {
    height: 40px;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
  .header .title {
    font-size: 20px;
    margin-left: 20px; }
  .header .download-buttons {
    float: right;
    display: none; }

.main {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  min-height: 100%; }
  .main .section {
    background-color: #202023;
    width: 100%; }
    .main .section > div {
      margin-top: 50px;
      margin-bottom: 50px; }
    .main .section img {
      max-height: 500px;
      max-width: 90%;
      box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.5); }
  .main .section:nth-child(even) {
    background-color: #252528; }
  .main .top {
    background: url("../img/feed.jpg");
    padding-top: 120px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main .top-continue {
    font-size: 20px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    background-color: #161618 !important; }
    .main .top-continue a,
    .main .top-continue a:active,
    .main .top-continue a:hover,
    .main .top-continue a:visited {
      color: #f2f5f4; }

.btn-pro {
  background: #ee4d2e;
  border: 0;
  color: #f2f5f4; }

.minor {
  color: #888; }
  .minor a,
  .minor a:hover {
    color: #888; }

.phone {
  height: 500px;
  width: 310px;
  background-image: url("../img/nexus5-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center; }
  .phone .screen {
    height: 355px;
    margin-top: 55px; }
    .phone .screen video {
      max-height: 100%; }

.footer {
  padding: 10px 0;
  margin-top: 15px;
  text-align: center;
  color: #888; }
  .footer .heart {
    display: block;
    margin-top: 5px; }
    .footer .heart a,
    .footer .heart a:active,
    .footer .heart a:hover,
    .footer .heart a:visited {
      color: #ff0082; }

.vcenter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.hcenter-content {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  text-align: center; }

.anker {
  display: inline-block;
  height: 0;
  margin-top: -144px;
  padding-top: 144px;
  width: 1px; }

@media (min-width: 768px) {
  .main .top {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header {
    height: 120px; }
    .header .logo {
      height: 80px; }
    .header .title {
      font-size: 25px; }
  .anker {
    margin-top: -184px;
    padding-top: 184px; } }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }
