doctype html
html
  head(lang="en")
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title pr0gramm App
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
    link(rel="manifest" href="img/favicon/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      
    style.
      body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url('img/feed.jpg');
        color: #f2f5f4;
      }
      
      .header {
        height: $header-height;
        display: flex;
        padding: 20px;
        flex-direction: row;
        height: 80px;
        width: 100%;
      }

      .header .logo {
        height: 40px;
      }

      .header  .title {
        font-size: 20px;
        margin-left: 20px;
      }
      
      .btn-pro {
        background: #ee4d2e;
        border: 0;
        color: #f2f5f4;
      }
      
      .footer {
        padding: 10px 0;
        margin-top: 15px;
        text-align: center;
        color: #888;
      }
      
      .footer .heart {
        display: block;
        margin-top: 5px;
      }

      .footer .heart a,
      .footer .heart a:active,
      .footer .heart a:hover,
      .footer .heart a:visited {
        color: #ff0082;
      }
      
      .vcenter-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hcenter-content {
        align-items: center;
        align-content: center;
        text-align: center;
      }

  
  body
    header.header(stlye="position: absolute;")
      img.logo(src="img/logo.png" alt="Logo")
      .vcenter-content
        span.title pr0gramm navigator
    div(style="flex-grow:1;")
    main.main
      .top(stlye="height: 100%")
        center
          p.
            Leider erlauben die Google PlayStore Richtlinien keinen nsfw/nsfl Content.
            Deshalb gibt es ein Plugin, mit dem nsfw/nsfl auch in der PlayStore Variante aktiviert werden kann.
            Dadurch hast du vollen Funktionsumfang und trotzdem Updates über den PlayStore.
          p Das Plugin muss nur einmal installiert werden. Du kannst es hier herunterladen.
          p.hcenter-content
            a.btn.btn-lg.btn-pro(href="pr0gramm-navigator-unlock.apk")
              i.fa.fa-unlock-alt
              |  Unlocker Plugin
    div(style="flex-grow:1;")
    footer.footer
      span
        | copyright 2015 by 
        a(href="https://github.com/mopsalarm/", target="_blank") mopsalarm
        |  | 
        a(href="https://github.com/mopsalarm/Pr0", target="_blank") sourcecode
      br
      span.heart
        a(href="http://pr0gramm.com", target="_blank")
          i.fa.fa-heart
