extends section_base.jade

block left
  h3#download direkt herunterladen
  p Hier kannst du die App direkt herunterladen und installieren.
  p.
    Beachte, dass du Apps aus nicht vertrauenswürdigen Quellen zulassen musst,
    damit du die App am PlayStore vorbei installieren kannst.
  p.hcenter-content
    a.btn.btn-lg.btn-pro.btn-open-download(href="https://cdn.rawgit.com/mopsalarm/pr0gramm-updates/beta/open/pr0gramm-v1.786.apk") Herunterladen
  
  p.hcenter-content.minor
    | version 
    span.version 1.78.6
    |  | 
    a(href="https://github.com/mopsalarm/pr0gramm-updates/tree/master/open", target="_blank") alle Versionen
    
  p
    Diese Version enthält eine Updatefunktion und lädt Updates automatisch
    herunter.
  


block right
  h3 play store
  p.
    Wir haben es nun bereits zwei mal probiert im PlayStore Fuss zu fassen,
    wurden jedoch jeweils innerhalb von wenigen Tagen wieder aus dem Store 
    entfernt. Aus diesem Grund wird die App erstmal nicht mehr dort
    angeboten werden. Schade. 
    
  p.
    Der Google PlayStore ist leider sehr restriktiv was Inhalte betrifft. Gänzlich verboten 
    sind Sexualität und Nacktheit, außerdem werden Apps mit Nazinostaltgie, Kriegsanspielungen und 
    für einige Länder nicht angebrachte Witze in Deutschland, Österreich, Frankreich und Russland 
    aufgrund der Gesetzeslage in diesen Ländern gesperrt.
  p.
    Da unsere Hauptzielgruppen nunmal Deutschland, Österreich und z.&thinsp;T. die Schweiz sind, macht es 
    keinen Sinn die App weiterhin im PlayStore anzubieten.
  p.
    Warum die anderen pr0gramm Apps aus dem PlayStore nicht gelöscht werden
    ist uns auch nicht so ganz klar. Google will da auch nicht weiter drauf
    eingehen.
    
  //
    p.hcenter-content
      a.btn.btn-lg.btn-pro(href="https://play.google.com/store/apps/details?id=io.github.mopsalarm.pr0gramm.gp2")
        i.fa.fa-android
        |  PlayStore

    br
    a(name='unlocker')
    p.
      Leider erlauben die Google PlayStore Richtlinien keinen nsfw/nsfl Content.
      Das ist natürlich für einen richtigen pr0gramm nicht akzeptabel.
      Aus diesem Grund gibt es ein Plugin, mit dem nsfw/nsfl auch in der
      PlayStore Variante aktiviert werden kann. Dadurch hast du vollen
      Funktionsumfang und trotzdem Updates über den PlayStore.
    p Das Plugin muss nur einmal installiert werden. Du kannst es hier herunterladen.
    p.hcenter-content
      a.btn.btn-lg.btn-pro(href="pr0gramm-navigator-unlock.apk")
        i.fa.fa-unlock-alt
        |  Unlocker Plugin
