extends section_base.jade

block left
  h3#download direkt herunterladen
  p Hier kannst du die App direkt herunterladen und installieren.
  p.
    Beachte, dass du #[a(href='https://www.computerbild.de/fotos/cb-News-Handy-APK-installieren-Android-11083471.html', target="_blank") Apps aus nicht vertrauenswürdigen Quellen zulassen] musst,
    damit du die App am PlayStore vorbei installieren kannst.
  p.hcenter-content
    a.btn.btn-lg.btn-pro.btn-open-download(href="//app.pr0gramm.com/pr0gramm-latest.apk", target="_blank") Herunterladen
  
  p.
    Diese Version enthält eine Updatefunktion und lädt Updates automatisch
    herunter.
  


block right
  h3 play store
  p.
    Wir haben es nun bereits zwei mal probiert im PlayStore Fuss zu fassen,
    wurden jedoch jeweils innerhalb von wenigen Tagen wieder aus dem Store 
    entfernt. Aus diesem Grund wird die App erstmal nicht mehr dort
    angeboten werden. Schade. 
    
  p.
    Der Google PlayStore ist leider sehr restriktiv was Inhalte betrifft. Gänzlich verboten 
    sind Sexualität und Nacktheit, außerdem werden Apps mit Nazinostalgie, Kriegsanspielungen und 
    für einige Länder nicht angebrachte Witze in Deutschland, Österreich, Frankreich und Russland 
    aufgrund der Gesetzeslage in diesen Ländern gesperrt.
  p.
    Da unsere Zielgruppe in Deutschland, Österreich und der Schweiz liegt, macht es 
    keinen Sinn die App weiterhin im PlayStore anzubieten.
  p.
    Warum die anderen pr0gramm Apps aus dem PlayStore nicht gelöscht werden
    ist uns auch nicht so ganz klar. Google will da auch nicht weiter drauf
    eingehen.
    
