extends section_base.jade

block left
  h3 open source
  p.
    Wie uns die Vergangenheit gezeigt hat, sollte man Apps nicht einfach so
    vertrauen (Breezle&thinsp;<span style="color: #444;">●</span> der Hurensohn).
  p.
    Daher ist diese App komplett OpenSource und die Aluhutträger können diese
    gerne selbst kompilieren.
    
    Den Quellcode findest Du auf <a href="https://github.com/mopsalarm/Pr0">GitHub</a>.
    
  p.
    Sogar Gamb&thingsp;<span style="color: #f90;">●</span> findet das gut
    (<a href="http://pr0gramm.com/top/867015:comment4829375">/top/867015:comment4829375</a>)
  
block right
  h3 immer aktuell
  p Mopsalarm und seine freundlichen Helfer entwickeln die App ständig weiter.
  p Dank automatischen Updates bekommst du die neuste Version sobald sie verfügbar ist.
  p.
    Wenn Dir irgendwas fehlt, oder du der Meinung bist, programmieren zu können,
    freuen sich alle über Issues und Pull Requests au
     <a href="https://github.com/mopsalarm/Pr0">GitHub</a>.
