extends section_base.jade

block left
  h3 und vieles mehr
  p Das ist natürlich nicht alles was die App zu bieten hat.
  p In den Einstellungen finden sich viele Möglichkeiten die App Deinen wünschen anzupassen
  p Hier einige weitere Features:
  ul
    li Reposts werden markiert
    li GIFs können in WEBMs konvertiert werden um Daten zu sparen
    li GIFs und WEBMs können auch erst nach bestätigung geladen werden
    li Der OP wird in den Kommentaren markiert
    li Private Nachrichten lesen und schreiben
    li Benachrichtigungen bei Kommentaren und privaten Nachrichten
  
block right
  center
    img(src="img/screenshots/settings.jpg", alt="feed")
