extends section_base.jade

block left
  h3 genieße das pr0gramm
  p Stöbere bequem durch die Kategorien Top und Neu.
  p.
    Damit du noch mehr Zeit auf dem pr0 verschw - ääh - verbringen kannst, 
    gibt es zusätzlich noch drei neue Kategorien: Kontrovers, Zufall und Best of
  p.
    Damit auch Arbeitszeit problemlos auf dem pr0 verbracht werden kann, gibt
    es schnell erreichbare Filtereinstellungen.
  p Über die Suchfunktion kannst du Bilder, die richtig getaggt sind, wiederfinden.
  p.
    Für deine liebsten Suchen kannst du sogar Lesezeichen anlegen und sie
    so jederzeit direkt wieder aufrufen!
  
block right
  center
    img(src="img/screenshots/feed.jpg", alt="feed")
