extends section_base.jade

block left
  center
    img(src="img/screenshots/bild.jpg", alt="bild")
  
block right
  h3 konsumieren und partizipieren
  p.
    Du kannst Bilder und WEBMs ansehen, bewerten und favorisieren,
    so wie du es von der Website kennst.
    Du kannst natürlich auch Kommentare und Tags hinzufügen.
  p.
    Wenn dir deine Benispflege wichtig ist, kannst Du auch von unterwegs Bilder
    hochladen. Pass aber auf, dass du keine Scheiße postest, das schadet
    deinem Benis nur.
  p.
    Sollte tatsächlich mal jemand auf deine Posts und Kommentare, antworten,
    bekommst du eine Benachrichtigung auf deinem Smartphone!
  
