extends section_base.jade

block left
  h3 faq
  ul.faq
    li
      .faq__question Kann ich dieser App vertrauen, oder werden mir meine pr0gramm-Daten geklaut?
      .faq__answer.
        Ja, kannst du. Dies ist die <strong>offizielle pr0gramm App für Android</strong>.
        Außerdem ist sie OpenSource.
    
    li
      .faq__question Kann ich nsfw/nsfl sehen?
      .faq__answer.
        Ja, natürlich. Das ganze pr0gramm steht dir offen.
    
    li
      .faq__question Ich finde meine Invites nicht.
      .faq__answer Das stimmt, das Feature fehlt aktuell noch.
    
block right
  h3 &nbsp;
  ul.faq
    li
      .faq__question Was kann ich machen, wenn die Videowiedergabe manchmal nicht funktioniert?
      .faq__answer.
        Stelle in der App unter Einstellungen -> Kompatibilität den Softwaredekoder an.
        Damit sollten nun Videos ohne Probleme laufen.

    li
      .faq__question Manchmal werden große Bilder #[em musste scrollen] unscharf dargestellt?
      .faq__answer.
        Das liegt an einer Begrenzung in deinem Telefon. Versuche unter Einstellungen die Bildgröße
        auf maximal zu stellen. Wir arbeiten dran, dort eine bessere Lösung zu finden.
    
