<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pr0gramm.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:name=".Pr0grammApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="roboguice.modules"
            android:value="com.pr0gramm.app.Pr0grammModule"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3b0e9b35b11bde7bb671229dba63447351751401"/>

        <!-- Sugar ORM configuration -->
        <meta-data
            android:name="DATABASE"
            android:value="pr0gramm.db"/>

        <meta-data
            android:name="VERSION"
            android:value="3"/>

        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>

        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.pr0gramm.app.orm"/>

        <receiver
            android:name=".SyncBroadcastReceiver"
            android:exported="false"/>

        <service
            android:name=".SyncIntentService"
            android:exported="false"/>

        <activity
            android:name="com.pr0gramm.app.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme.ActionBar"
            android:parentActivityName=".MainActivity"/>

    </application>

</manifest>
