<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.pr0gramm.app">

    <application
        android:name="com.pr0gramm.app.DebugApplicationClass"
        tools:replace="android:name"/>
</manifest>